doctype html
html
    head
        title No Server Round 2!
        link(rel='stylesheet' href='styles/main.css')
    body(ng-app='noServer2')
        ng-view
        
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-grid/build/ng-grid.js')
        script(src='bower_components/angular-route/angular-route.js')
        script(src='bower_components/firebase/firebase.js')
        script(src='bower_components/angularfire/dist/angularfire.js')
        script(src='scripts/app.js')
        script(src='scripts/services/login/loginService.js')
        script(src='scripts/services/trips/tripsService.js')
        script(src='scripts/controllers/addTrip/addTripCtrl.js')
        script(src='scripts/controllers/currentTrip/currentTripCtrl.js')
        script(src='scripts/controllers/homePage/homePageCtrl.js')
        script(src='scripts/controllers/login/loginCtrl.js')
        script(src='scripts/controllers/previousTrips/previousTripsCtrl.js')
