html, body
    height: 100vh
    width: 100%
    margin: 0
    padding: 0
@import "modules/0_login/login"
@import "modules/1_homePage/homePage"
@import "modules/2_addTrip/addTrip"
@import "modules/3_currentTrip/currentTrip"
@import "modules/4_previousTrips/previousTrips"
